html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/* Primer bloque flexbox
*/

.flex-container,
 .flex-container-2,
  .flex-container-3 {
  background-color: #404040;
  border-radius: 10px;
  border: solid 2px yellow;
}

.flex-container > * ,
 .flex-container-2 > *,
  .flex-container-3 > *{
  padding: 10px;
  margin: 10px;
  border: solid 1px black;
  border-radius: 10px;
  background: #f18c55;
}

.flex-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-around;
}

.two {
  margin-left: auto;
}

.flex-container-2 {
  height: 250px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.flex-container-3 {
  height: 150px;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
}

.oneb {
  height: 50px;
}

.twob {
  height: 80px;
  order: -1;
}

.threeb {
  height: 120;
  align-self: flex-end;
}

/* END Primer bloque flexbox
*/

/** FlexBox Inicio */

/*min-width: ancho m�nimo para respetar este estilo, De 0 a 767px se maneja otro estilo */
@media(min-width: 768px) {
    .contenedor-1 {
        display: flex;
        align-items: stretch;
        /*flex-direction: column;*/
    }

    .contenedor-2 {
        display: flex;
        justify-content: space-around;
    }

    .content-caja-2 {
        /*width: 25%;*/
        flex-basis: 25%;
    }
}

.contenedor-3 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;

}


.contenedor-1 div, .contenedor-2 div, .contenedor-3 div, .contenedor-4 div{
    border: 1px #ccc solid;
    padding: 12px;
    background: #FAFAFA;
}

.content-caja-1-1 {
    flex: 3;
    order: 2;
}

.content-caja-1-2 {
    flex: 1;
    order: 3;
}

.content-caja-1-3 {
    flex: 2;
    order: 1;
}


.content-caja-3 {
    flex-basis: 15%;
}



/** FlexBox Fin */